#bg-login-image {
    background-image: url("/images/bg-login-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bg-register-image {
    background-image: url("/images/bg-register-image.jpg");
    background-size: cover;
    background-position: 0 -80px;
    background-repeat: no-repeat;
}
